{% block content %}	
			<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Deteksi Wajah Mahasiswa</h3>
        </div>
        <br>
        <form role="form" action="{{ url_for('panggilDataset')}}" method="POST">
          <div class="box-body">
            <div class="form-group">
              <label>NPM :</label>
              <input style="width: 250px" type="text" class="form-control" value="{{ npm }}" name="p_npm" id="p_npm" readonly>
              <br>

            </div>
            <div class="card-footer">
              <button type="Submit" class="btn btn-info">Submit</button>
              <button id="cancelBtnEdit" type="button" class="btn btn-default float-right">Cancel</button>
            </div>
          </div>
        </form>
      </div>

      


<script>
$('#cancelBtnEdit').click(function(){
  $('#DetectForm').fadeOut();
  $('#DetectForm').empty();
  $('#example1').fadeIn();
});

</script>
{% endblock %}
